* {
  font-family: "Helvetica";
  background-color: lightgray;
}


navigation ul{
    list-style:none;
    overflow: hidden;
}
#navigation li {
    float: right;
    padding: 10px 30px;
}
ul a {
  color: black;
}

ul a:hover {
  color: white;
}

#name {
  position: absolute;
  top: 6%;
  left: 5%;
}

#mainArea {
  position: absolute;
  top: 200px;
  line-height: 4em;
}
