html {
  font-family: "Helvetica";
}
html {
  background-color: lightgray;
}
#footer {
  text-align: center;
}

nav ul{
    list-style:none;
    overflow: hidden;
}
#navigation li {
    float: right;
    padding: 10px 30px;
}
ul a {
  color: black;
}

ul a:hover {
  color: white;
}

#name {
  position: absolute;
  top: 1%;
  left: 5%;
}

#mainArea {
  position: absolute;
  top: 200px;
  line-height: 4em;

}

#pageHead {
  text-align: center;
  text-decoration: underline;
}

#pageText {
  text-align: center;
  font-size: 25px;
}

table {
  width: 100%;
}

table th {
  padding-bottom: 20px;
}

table td {
  text-align: center;
  padding-bottom: 15px;
}

textarea {
  font-size: 16px;
  width: 50%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.contactForm {
  text-align: center;
  padding: 20px;
}
/*-----------------------Added 2/27*------------------------------------------*/
#tImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  background-size: contain;

}

#logo {
  width: 10%;
  height: auto;
  object-fit: cover;
  background-size: contain;
  float:left;
  
}

/*logo text positioning*/
#topLeft {
position: absolute;
top: 5px;
left: 16px; 
background-color: rgba(0,0,0,0); /*transparent background*/
font-size: 35px;    
}

/*temporary solution for right side image*/
#rsImage {
  max-width: 50%;
/*    max-height: 100%;*/
  max-height: 400px;
  float:right;
  display: block;
  padding: 25px; 

}
/*midContent block, issue with additional space*/
#midContent {
 display: block; /* shrink to fit */
 width: 100%;
 height: 100%; /* whatever width you like, was prev 1000px*/
 position: relative;
 
 
/*    border: 1px solid blue;*/
  /* so .content can use position: absolute */
}

/*left side text*/
#inBlock {
  max-width:100%;
  max-height: 100%;
  display: block;
  padding: 25px;
  font-size: 30px;
  vertical-align: middle;
/*    line-height: 1.5em;*/
/*    border: 1px solid blue;*/    
}

table.center  {
 margin-left: auto;
 margin-right: auto;
  
border-collapse: separate;
border-spacing: 15px;
border: 1px solid black;
}

#customers {
  text-align: center;
  
}

/*ADDED FROM W3 SCHOOLS 3/5/2020
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow_auto*/

/**{box-sizing: border-box;}*/
.slideBody {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
.slideImg {
  vertical-align: middle;
  background-size: cover;
}

/* Slideshow container */
.slideshow-container {
max-width: 1900px;
position: relative;
margin: auto;
display: inline-block;

}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
/*
.dot {
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}
*/

.active {
background-color: black;
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.text {font-size: 11px}
}

